@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*variables go here*/
:root {
    /*colors*/

    --clr_primary: #A9D18E;
    --clr_secondary: rgba(169, 209, 142, 0.79);

    /*shadows*/
    --shdw_primary: -1rem 1rem 1rem rgba(0, 0, 0, 0.15);
    --shdw_secondary: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.logo {
    align-content: center;
    max-width: 100%;
    background-color: var(--clr_primary);
    
}

header {
    background-color: var(--clr_primary);
}