@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Lato;
}

/*variables go here*/
:root {
    /*colors*/
    --clr_primary: #A9D18E;
    --clr_secondary: rgba(169, 209, 142, 0.5);

    /*shadows*/
    --shdw_primary: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.html {
    max-width: 100vw;

}

img {
    max-width: 100%;
}

a {
    color: black;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    z-index: 1;
    background-color: var(--clr_primary);
    max-width: 100vw;
    min-width: 100vw;
    display: flex;
    align-items: center;
    height: 5rem;
    box-shadow: var(--shdw_primary);

}


.logo {
    margin-left: calc(50vw - 2.5rem);
}

.logoImg {
    padding: 0.5rem;
    width: 5rem;
    height: 5rem;
}

.favBtn {
    color: white;
    margin-left: auto;
    padding: 1rem;
    font-size: 2rem;
}


.hamburgerBtn {
    color: white;
    padding: 1rem 2rem 1rem 1rem;
    font-size: 2rem;
}

.navHide {
    transform: translate(0,-15rem);
    transition: transform ease-in-out 0.5s;
}
.navShow {
    transform: translate(0,5rem);
    transition: transform ease-in-out 0.5s;
}

.navContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #e8e8e8;
    min-width: 40vw;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: var(--shdw_primary);

}

.navList {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navItem {
    list-style: none;
    margin: 0.5rem 0;
}

.navLink {
    text-decoration: none;
    padding: 0.5rem 0;
    width: 100%;
}

.searchSection {
    margin: 1rem 0rem;
    display: flex;
    justify-content: center;

}

.searchForm {
    max-width: 80vw;
}

.searchBar {
    width: 14rem;
    height: 1.5rem;
    border-radius: 5px;
    border: var(--clr_primary) 2px solid;
    background-color: #e7e7e7;
    /*box-shadow: var(--shdw_primary);*/
}

.searchBar::placeholder {
    text-align: center;
    color: black;

}

/*products */
.productSection {
    margin: 1rem 0rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.productContainer {
    min-width: 80vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    max-width: 20rem;
    max-height: 10rem;
    background-color: var(--clr_secondary);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    ".productLeft .productImg";
    border-radius: 1rem;
    margin: 1rem 2rem;
    /*box-shadow: var(--shdw_primary);*/
}

.product:first-of-type {
    margin-top: 1rem;
}

.productLeft {
    display: flex;
    flex-direction: column;
}

.productTitle {
    padding: 1rem;
    border-bottom: black 1px solid;
}

.productDescription {
    padding: 1rem;
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productImg {
    object-fit: cover;
    border-left: black 1px solid;
}

